node_modules
/apps/capsule-manager/src/types
/apps/questionnaire-builder/src/types
/apps/report-builder/src/types
/apps/woodford/src/types

/libs/resco-sdk/src/types
/libs/common-ui/src/types
/libs/rule-editor/src/types
/libs/questionnaire-data/src/types

/apps/questionnaire-builder/salesforce-package

/apps/woodford/src/app/Github/Github.bundle.min.js
/apps/webapp/src/Charts/chartjs.js
/apps/webapp/src/Charts/settings.js
/apps/webapp/src/libs/chartjs-plugin-datalabels.js
/apps/questionnaire-builder/libs/sortable.js
/apps/report-builder/libs/sortable.js
/apps/capsule-manager/libs/sortable.js
