# Add files here to ignore them from prettier formatting

/_migration
/dist
/coverage
/build

/apps/webapp/buildScripts
/apps/webapp/Libraries
/apps/webapp/OfflineHtml
/apps/webapp/TemporaryRescoDeps
/apps/webapp/TypeScriptDefinitions
/apps/webapp/src/libs

/apps/capsule-manager/libs
/apps/questionnaire-builder/libs
/apps/report-builder/libs
/apps/woodford/libs

/apps/capsule-manager/src/types
/apps/questionnaire-builder/src/types
/apps/report-builder/src/types
/apps/woodford/src/types

/libs/resco-sdk/src/types
/libs/common-ui/src/types
/libs/rule-editor/src/types
/libs/questionnaire-data/src/types

/apps/questionnaire-builder/salesforce-package

/tools/jsbridge.docs

/.nx/cache
/.nx/workspace-data