// @ts-check

const { composePlugins, withNx } = require("@nx/webpack");
const { withReact } = require("@nx/react");
const { withRescoBasic } = require("<%= toolsPath %>/common/webpack.with.resco.basic");
const { withHtmlLoader } = require("<%= toolsPath %>/common/webpack.with.htmlloader");
const { withPcf } = require("<%= toolsPath %>/pcf/webpack.with.pcf");

module.exports = composePlugins(withNx(), withReact(), withRescoBasic(), withHtmlLoader(), withPcf());
